@model HomeViewModel
@{
    ViewData["Title"] = "Главная страница";
}

<h2 class="mt-4">Персональные рекомендации</h2>

@if (Model.Recommendations.Any())
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var book in Model.Recommendations)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@book.ImageUrl" class="card-img-top" alt="@book.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Products" asp-action="Details" asp-route-id="@book.Id">Подробнее</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p><em>Нет персональных рекомендаций. Попробуйте оценить несколько книг.</em></p>
}

<hr class="mt-5" />
<h2>Новые товары</h2>

@if (Model.LatestProducts.Any())
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var book in Model.LatestProducts)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@book.ImageUrl" class="card-img-top" alt="@book.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Products" asp-action="Details" asp-route-id="@book.Id">Подробнее</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p><em>Новые товары отсутствуют.</em></p>
}
